.App {
  display: flex;
  min-height: 100;
  flex-direction: column;
  .content {
    flex: 1;
    text-align: center;
  }
  .header {
    height: 60px;
  }
  .footer {
    text-align: center;
    padding: 50px 0px;
    color: #555;
    background: #fafafa;
    border-top: 1px solid #f2f2f2;
    p {
      padding: 2px 0px;
    }
  }
}
